.red { color: red !important; }

.darkred { color: darkred !important; }

.md-typeset h2 { padding-bottom: 0.2em; border-bottom: 1px solid #d3d3d3; }
.md-typeset h2.no-underline { margin-bottom: 0; padding-bottom: 0; border: none; }
.md-typeset h3 { padding-bottom: 0.2em; border-bottom: 1px dashed #d3d3d3; }
.md-typeset h3.no-underline { margin-bottom: 0; padding-bottom: 0; border: none; }
.md-typeset img { display: block; margin-left: auto; margin-right: auto; }
.md-typeset img.inline { display: inline-block; }
.md-typeset code, .md-typeset kbd, .md-typeset pre { font-family: Roboto Mono,SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important; }
.md-typeset kbd { box-shadow: 0 0 0 0.05rem var(--md-default-fg-color--lighter), 0 0.1rem 0 var(--md-default-fg-color--lighter), inset 0 -0.1rem 0.2rem var(--md-default-bg-color); }
.md-typeset .md-typeset__table { display: block; margin-left: auto; margin-right: auto; }
.md-typeset .md-typeset__table > table { width: auto; margin: 0 auto; }
.md-typeset p.caption { text-align: center; font-size: 0.94em; color: grey; margin: -0.7em 0 0; }
.md-typeset .footnote hr { margin-top: 0.2em; }

@media only screen and (min-width: 76.25em) { .md-tabs ~ .md-main .md-nav--primary > .md-nav__list > .md-nav__item--nested { display: none; } }
