.red {
  color: red !important; }

.md-typeset h2, .md-typeset h3 {
  padding-bottom: 0.2em;
  border-bottom: 1px solid #d3d3d3; }
.md-typeset img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .md-typeset img.inline {
    display: inline-block; }
.md-typeset .md-typeset__table {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .md-typeset .md-typeset__table > table {
    width: auto;
    margin: 0 auto; }
.md-typeset p.caption {
  text-align: center;
  font-size: 0.94em;
  color: grey;
  margin: -1em 0 0; }
