.red, .red-important { color: red !important; }

.darkred, .darkred-important { color: darkred !important; }

.orangered, .orangered-important { color: orangered !important; }

.green, .green-important { color: green !important; }

.limegreen, .limegreen-important { color: limegreen !important; }

.cyan, .cyan-important { color: cyan !important; }

.darkcyan, .darkcyan-important { color: darkcyan !important; }

:root { --md-text-font: Roboto; --md-code-font: Roboto Mono; }

.md-typeset #references, .md-typeset .no-underline { margin-bottom: 0; padding-bottom: 0; border: none; }
.md-typeset h2 { padding-bottom: 0.2em; border-bottom: 1px solid #d3d3d3; }
.md-typeset h3 { padding-bottom: 0.2em; border-bottom: 1px dashed #d3d3d3; }
.md-typeset h4 { font-size: 1.17em; }
.md-typeset h5 { font-size: 1.08em; }
.md-typeset h6 { font-size: 1em; }
.md-typeset dt { font-weight: bold; }
.md-typeset img { display: block; margin-left: auto; margin-right: auto; }
.md-typeset .img-inline { display: inline-block; vertical-align: text-bottom; }
.md-typeset .img-border { border: 1px solid black; }
.md-typeset kbd { box-shadow: 0 0 0 0.05rem var(--md-default-fg-color--lighter), 0 0.1rem 0 var(--md-default-fg-color--lighter), inset 0 -0.1rem 0.2rem var(--md-default-bg-color); }
.md-typeset .admonition, .md-typeset details { font-size: 0.9em; }
.md-typeset .md-typeset__table { display: block; margin-left: auto; margin-right: auto; }
.md-typeset .md-typeset__table > table { display: table; width: auto; margin: 0 auto; }
.md-typeset p.caption { text-align: center; font-size: 0.94em; color: grey; margin: -0.7em 0 0; }
.md-typeset .footnote hr { margin-top: 0.2em; }
