// Manually compile this file:
//
// scss extra.scss > extra.css

.red {
	color: red !important;
}
.more {
	color: darkred;
}

.md-typeset {
	h2, h3 {
		padding-bottom: 0.2em;
		border-bottom: 1px solid #d3d3d3;
	}

	h3 {
		border-bottom-style: dashed;
	}

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;

		&.inline {
			display: inline-block;
		}
	}

	.md-typeset__table {
		display: block;
		margin-left: auto;
		margin-right: auto;

		> table {
			width: auto;
			margin: 0 auto;
		}
	}

	p.caption {
		text-align: center;
		font-size: 0.94em;
		color: grey;
		margin: -1em 0 0;
	}
}
